extends layout

block stylesheets
	link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:400,700")
	link(rel="stylesheet", href="/css/app.min.css")

block main
	header(id="header")
		a(href="", class="brand_area")
			img(src="/img/assets/logo-proudplaces.png", alt="Proud Places")
		//- a(href="/acerca/", id="acerca") Acerca del proyecto
		//- a(href="/colabora/", id="colabora") Colabora con nosotros

		div(class="actions_area")
			if profile
				a(href="/sitio/", id="addButton") Agregar lugar
				a(href="/logout", id="logoutButton") Salir
			else
				a(href="/login/", id="loginButton") Ingresar o registrarme
				//- a(href="/registro/", id="registro") Registrar

		if profile
			div(class="user_area clearfix")
				div(class="avatar")
					//- Corregir la siguiente linea cuando se agreguen otros metodos de autenticacion
					img(src="http://graph.facebook.com/#{profile.username}/picture", height="34", width="34")
				div(class="name") Hola
					strong  #{profile.username}

	section(id="sidebar")
		h2 Últimos sitios agregados
			i(class="icon-reorder")
		div(id="placeList")
		//include partials/places_list

	section(id="main")
		if profile
			div(id="menuContextual")
				ul
					li(id="agregar") Agregar lugar
					li @proudplaces
		div(id="mimapa")

	section(id="logintt")
		h2 Iniciar Sesión o registrarme
		//- form(id="sendData", method="post", action="")
		//- 	input(id="", type="text", placeHolder="Usuario")
		//- 	input(id="", type="text", placeHolder="Contraseña")
		//- 	input(id="", type="button", value="Entrar")

		//- p O puedes usar:
		a(id="tt", href="/auth/twitter", title="Conéctate con Twitter")
			img(src="/img/assets/twitter.png", alt="")
			span Conéctate con Twitter
		a(id="fb", href="/auth/facebook", title="Conéctate con Facebook")
			img(src="/img/assets/facebook.png", alt="")
			span Conéctate con Facebook
		//- a(id="fb", href="/auth/facebook", title="Conéctate con Facebook")
		//- 	img(src="/img/assets/facebook.png", alt="")
		//- 	span Conéctate con Facebook
		//p ¿No tienes cuenta?
		//	a(href="#", target="_blank") Regístrate

	section(id="agregar-sitio")
		a(href="#", title="Cerrar", id="closeButton", class="close") X
		h2 Agregar sitio turistico
		form(id="form-agregar-sitio", method="post", action="/places")
			p
				input(type="text", id="namePlace", name="name", placeholder="Nombre del lugar", required)
			p
				select(id="countryPlace", name="country", required)
					option(selected) Elige un país
			p
				input(type="text", id="cityPlace", name="city", placeholder="Ciudad", required)

			p(class="formText") Estas ahora mismo en el lugar?
			p(class="radios")
				label Si estoy en el lugar
					input(type="radio", id="geolocationOption", name="lugar", value="geolocation", required)
				//- span  Estoy en el lugar
			p(class="radios")
				label No estoy en el lugar
					input(type="radio", id="manualOption", name="lugar", value="nogeolocation")
				//- span No estoy en el lugar
			p(id="coords")
				input(type="text", id="coordsLtnLng", name="coords", placeholder="Coordenadas", disabled)
				//- span(id="pos") Posición
			p(class="formText") Agrega una imagen
			p
				input(type="file", id="imagePlace", name="file", required)
				//- input(id="upload_value", value="")
				//- span(class="upload")
				//- 	input(type="file")
				//- span(id="fileImage") Imagen
			p
				textarea(id="descriptionPlace", name="description", placeholder="Descripcion", rows="8", required)
			input(type="hidden", id="latPlace", name="lat")
			input(type="hidden", id="lngPlace", name="lng")
			p(class="clearfix")
				input(type="submit", value="Agregar")


	section(id="contribute")
		div(class="actions_area")
			a(id="link-github", href="https://github.com/mejorandolaclase/mapa-turistico", title="Contribute on GitHub")
				img(src="/img/assets/github.png")

block javascripts
	script(src="/components/jquery/jquery.js")
	script(src="/js/vendor_old/jquery.js")
	script(src="/js/vendor_old/leaflet.js")
	script(src="/socket.io/socket.io.js")
	script(src="/js/vendor_old/underscore.js")
	script(src="/js/vendor_old/backbone.js")
	script(src="/js/vendor_old/jquery.form.js")
	script(src="/js/vendor_old/alertify.min.js")
	//- Modelos
	script(src="/js/models/user.js")
	script(src="/js/models/place.js")
	//- Vistas
	script(src="/js/views/map.js")
	script(src="/js/views/sidebar.js")
	script(src="/js/views/add_place.js")
	script(src="/js/views/header.js")
	script(src="/js/views/menu_contextual.js");

	//- Router
	script(src="/js/routes.js")
	//- App
	script(src="/js/main.js")